<h1>My friends</h1>

<div id="friends">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Twitter</th>
        <th>Phone</th>
        <th>Created by User Id</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user%>
        <tr>
          <td><%= link_to "#{friend.first_name} #{friend.last_name}", edit_friend_path(friend) %></td>
          <td><%= friend.email %></td>
          <td><%= friend.twitter %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.user_id%></td>
          <td class = "cols-3">
          <!-- Links to perform actions -->
          <%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn-lg btn-danger"%>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New friend", new_friend_path %>
